[Desktop Entry]
Version=1.0
Name=Brainrot Banking
GenericName=Brainrot Banking
Comment=skibidi banking app
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;
